.vscode/settings.json
500-600.nc
532
532-1.nc
532.nc
532NEW.NC
533.nc
534.nc
534NEW.NC
542NEW.NC
542NEW.NCBAK.NC
542NEW1.NC
542NEWBAK.NC
542OLD.NC
555-machine.nc
555.nc
allprogs.txt
ax.nc
O10(SPINDLE WARM UP).NC
O134.nc
O135.nc
O542.nc
O551.nc
O552.nc
O554.nc
O555.nc
O557.nc
O561.nc
O562.nc
O564.nc
O569.nc
O1666.nc
O1667.nc
OLD O552 (CENTRE SHALLOW) old.nc
params.txt
polygon points.py
subjawform.nc
test.nc
TESTNPLOT.nc
testprog1.txt
tools
ORIGINAL SPIRAL POCKET.NC
M5590-bk.NC
M5560-bk.NC
test.txt
5560-gwiz.nc
O554-TMP.nc
